/* Desktop: 1440px */
/* Colors */
:root {
  /* Primary */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  /* Neutral */
  /* H1 & H2 Text */
  --very-dark-blue: hsl(234, 12%, 34%);
  /* Paragraph Text */
  --grayish-blue: hsl(229, 6%, 66%);
  /* Box Shadow */
  --very-light-gray: hsl(0, 0%, 98%);
}
/* font weights: 200, 400, 600 */
/* * {
  border: 1px solid red!important;
} */
body {
  font-size: 15px;
  font-family: 'Poppins', sans-serif, monospace;
}

h2 {
  color: var(--very-dark-blue);
}

p {
  color: var(--grayish-blue);
}

.wrapper {
  margin: 5rem;
}

.headerInfo {
  text-align: center;
}

.headerInfo h1 {
  font-size: 26px;
  color: var(--grayish-blue);
  line-height: 2.2rem;
  margin: 3rem 0 1rem;
}

.headerInfo span {
  display: block;
  color: var(--very-dark-blue);
  font-weight: 600;
  font-size: 27px;
}

.headerInfo p {
  line-height: 1.2rem;
}

.card { 
  padding: 1rem;
  border-radius: 6px;
  box-shadow: 12px 12px 2px 10px var(--very-light-gray);
  border: 1px solid blue;
  text-align: right;
}

.card h2 {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 1rem;
  /* this feels like it's cheating but I'm not sure why */
  text-align: left;
}

.card p {
  line-height: 1.5rem;
  padding-bottom: 2rem;
  /* this too */
  text-align: left;
} 

.card img {
  border: 1px solid red;
}

.supervisor {
  border-top: 3px solid var(--cyan);
  font-weight: 400;
  font-size: 15px;
}

.attribution {
  text-align: center;
}

.attribution a {
  color: var(--grayish-blue);
  text-decoration: none;
}