/* Desktop: 1440px */
/* Colors */
:root {
  /* Primary */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  /* Neutral */
  /* H1 & H2 Text */
  --very-dark-blue: hsl(234, 12%, 34%);
  /* Paragraph Text */
  --grayish-blue: hsl(229, 6%, 66%);
  /* Box Shadow */
  --very-light-gray: hsla(0, 0%, 98%);
}

/* CRUD */
/* * {
  border: 1px solid red!important;
} */

/* 
 * font weights: 200, 400, 600 
 *
 * 200 - p tags
 * 400 - h2 tags
 * 600 - h1 tag
 */

body {
  font-size: 15px;
  font-family: 'Poppins', sans-serif, monospace;
  background-color: white;
}

h2 {
  color: var(--very-dark-blue);
  font-weight: 400;
}

p {
  color: var(--grayish-blue);
  font-weight: 200;
}

section {
  padding: 4rem 0;
}

.wrapper {
  width: 328px;
  margin: auto;
}

.headerInfo {
  text-align: center;
}

.headerInfo h1 {
  font-size: 26px;
  color: var(--grayish-blue);
  line-height: 2.2rem;
  margin: 3rem 0 1rem;
}

.headerInfo span {
  display: block;
  color: var(--very-dark-blue);
  font-weight: 600;
  font-size: 27px;
}

.headerInfo p {
  font-weight: 400;
  line-height: 2rem;
  margin-bottom: 3rem;
}

.card { 
  padding: 2rem 2rem 1.4rem 2rem;
  border-radius: 5px;
  box-shadow: 1px 10px 20px 10px var(--very-light-gray);
  text-align: right;
  margin-bottom: 2rem;
}

.card h2 {
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 1rem;
  /* this feels like it's cheating but I'm not sure why */
  text-align: left;
}

.card p {
  line-height: 1.5rem;
  padding-bottom: 2rem;
  /* this too */
  text-align: left;
} 

.supervisor {
  border-top: 4px solid var(--cyan);
}

.teamBuilder {
  border-top: 3px solid var(--red);
}

.karma {
  border-top: 3px solid var(--orange);
}

.calculator {
  border-top: 3px solid var(--blue);
}

.attribution {
  text-align: center;
}

.attribution a {
  color: var(--grayish-blue);
  text-decoration: none;
}